
#hero {
  margin: 1rem 0;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: center;
  height: 400px;
}

#hero .backgroundText {
  position: absolute;
  bottom: 20px;
  margin: 0 1rem;
  color: white;
}

.title {
  margin: 1rem;
  margin-top: 2rem;
}

.title img {
  width: 30px;
}

#all-internships, #all-prism {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1rem;
}

#interests {
  margin: 1rem;
}

.dot {
  margin: 0 0.2rem;
}

#contact_salary div {
  margin-right: 1rem;
}

#contact_salary img {
  margin-right: 0.5rem;
}

.h5 {
  color: #6393F2;
}

.card {
  height: 100%;
}

.view-btn a {
  text-decoration: none;
  color: white;
}

.view-btn {
  background-color: #6393F2;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 8px;
  text-align: center;
  margin: 2rem auto;
}
