
#hero {
  margin: 1rem 0;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: center;
  height: 400px;
}

#hero .backgroundText {
  position: absolute;
  bottom: 20px;
  margin: 0 1rem;
  color: white;
}
