/* @import "tailwindcss";
@source "../views"; */
@font-face {
    font-family: Brandon Grotesque;
    src: url("fonts/Brandon_Grotesque_Medium.otf");
}
@font-face {
    font-family: Brandon Grotesque Bold;
    src: url("fonts/Brandon_Grotesque_Bold.otf");
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blue-primary: #276bf2;
    --blue-secondary: #447ef2;
    --blue-tertiary: #6393f2;
    --gray: #f2f2f2;
    --black: #1e2026;
}
html {
    font-family: "Brandon Grotesque";
    font-size: 16px;
}

body {
    background-color: var(--gray);
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.text-gray {
    color: var(--gray);
}

.text-sm {
    font-size: 0.8rem;
}
.primaryBtn {
    display: block;
    color: var(--gray);
    background-color: var(--blue-primary);
    border: unset;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}
.mb-1 {
    margin-bottom: 1rem;
}

.bg-blue-primary {
    background-color: var(--blue-primary);
}
.bg-blue-secondary {
    background-color: var(--blue-secondary);
}
.bg-blue-teriary {
    background-color: var(--blue-tertiary);
}
.bg-gray {
    background-color: var(--gray);
}

.text-gray {
    color: var(--gray);
}
.w-90 {
    width: 90%;
    margin: 0 auto;
}
.w-80 {
    width: 80%;
    margin: 0 auto;
}
.w-40 {
    width: 40%;
}
.smallBtn {
    color: var(--gray);
    background-color: var(--blue-primary);
    border: unset;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: block;
}
.px-16px {
    padding: 0 16px;
}

.mt-7 {
    margin: 5.5rem 0;
}

.fill-blue {
    filter: brightness(0) saturate(100%) invert(68%) sepia(39%) saturate(6053%)
        hue-rotate(197deg) brightness(97%) contrast(95%);
}
table,
th,
td {
    border: 2px solid var(--black);
    border-collapse: collapse;
    padding: 0.7rem;
}
table thead {
    background-color: var(--blue-primary);
    color: var(--gray);
}
table tbody {
    background-color: white;
}
table tbody button {
    all: unset;
}

#modal {
    position: fixed;
    top: 50%;
    border-radius: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    font-weight: 600;

    h3 {
        color: var(--blue-primary);
    }
    & > div button {
        all: unset;
        font-size: 2rem;
    }
    & > div .descrip {
        width: 90%;
    }
}
#modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.pointer {
    cursor: pointer;
}
.dark-links {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black);
}
.h-30 {
    height: 30%;
}

.w-83 {
    width: 83%;
}
