nav {
    background-color: var(--blue-primary);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav a {
    color: var(--gray);
    text-decoration: none;
}
